.new-order {
    display: flex;
    flex-direction: column;
    width: 30em;
    border: 1px solid white;
    background-color: white;
    border-radius: .9em;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    padding: 1em;
    margin: 1em;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  
    

}

.new-order-q-name {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-top: 1em;
}

.new-order-input-name{
    height: 2em;
    width: auto;
}

.new-order-q-quantity {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-top: 1em;
}

.new-order-input-quantity{
    height: 2em;
    width: auto;
}

.new-order-q-date{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-top: 1em;
}

.new-order-input-date{
    height: 2em;
    width: auto;
}

.new-order-q-temp{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-top: 1em;
}

.new-order-input-temp{
    height: 2em;
    width: auto;  
}

.new-order-form-submit{
    margin-top: 1.5em;
    height: 2em;
    width: auto;
}