
.sidebar{
    width: 18em;
    height: 100vh;
    background-color: white;   
    display: flex;
    flex-direction: column;

   
}

.sidebar-logo{
 background: -webkit-linear-gradient(45deg, #1171ef, #17c8eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  letter-spacing: .2em;
  align-self: center;
}


