
.sidebar{
    width: 20em;
    height: 100vh;
    background-color: white;   
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;


   
}

/* BLUE VERSION  */

.sidebar-logo{
 background: -webkit-linear-gradient(45deg, #1171ef, #17c8eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  letter-spacing: .2em;
  align-self: center;
  font-style: italic;
}


 .sidebar a {
   text-decoration: none;
 }

 

